/*menu de navegacion*/
*{
    margin:0;
    padding:0;
}
.miCarrusel{
    width:100%;
    height:50vh;
}

.miCarrusel img{
    width:100%;
    height:50vh;  
    /*mejorar la vista de la imagen*/
    object-fit: cover;
    /*posicion la vista de la imagen*/
    object-position: top;
}

.misLogos img{
    width: 100px;
    height: 100px;
}

/* .col, .col-4, .col-6{
      text-align: center;
} */

.misLogos div{
        text-align: center;

}
/* 
.row{
    text-align: center; 
    margin: 5px;
    padding:0%;  
} */

.misProductos img{
    width: 250px;
    height: 250px;

}