/*Importaciones - Fuentes */

@import url('https://fonts.cdnfonts.com/css/ysabeau-sc');
@import url('https://fonts.cdnfonts.com/css/quito');

/* Establecer las varianles en nuestros CSS
paleta de colores
tipogragias
medidas (opcional)
*/
:root{ /* hace referencia a archivo html archivo raiz*/
    /*Paleta de colores*/

    --colorFondo:#D8C37F;
    --colorEnfasis1:#A4AE20;
    --colorEnfasis2:#C57023;
    --colorEnfasis3:#7B361A;
    --colorText:#d9d09e85;
    --colorText2:#19160A;

    /* Fuentes */
    --textTitle:'Ysabeau SC', sans-serif;
    --textContent:'Quito', sans-serif;

}
*{
        margin:0;
        padding:0;
        box-sizing: border-box;
}

body{
    background-color: var(--colorFondo);
    width: 100vw;
    height: auto;
    /*Overflow-> sirve para definir que pasa con el contenido que sobresale del contenedor*/
    overflow-x: hidden;

}   

header{
    width: 100%;
    height:100px;
    border: solid red;

}
.menuNavegacion{
    width:100%;
    height: 100px;
    background-color: var(--colorEnfasis3);
    position: fixed;
    top: 0;
    left:0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding:0 20px;

    
   }

   .logo{
        height: 100%;
   
      }
      .logo a{
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center; 
        align-items: center;       
        gap: 10px;
        text-decoration: none;
        font-family: var(--textContent);
        color: var(--colortext);
        font-weight: bold;
        font-size: 25px;

      }
      .p-logo{
            width: 150px;
            text-align: left;
      }

      .span-logo{

        color: var(--colorEnfasis1);

      }

      .img-logo{
        height: 100%;  /* Ajustar tamaño del logo*/
      }
      

    .listaMenu{
    display:flex;
    gap:50px;
    list-style: none;
    
    }

    .listaMenu a{  
        text-decoration: none;
        color: var(--colorText);
        font-family: var(--textContent);
        font-size: 20px;
    }

    .listaMenu a:hover{
        color:var(--colorEnfasis1)  /*Para que cambie el color cuando pasa el mouse*/
    }




    main{
        border: 5px solid white;
        width: 100%;
        padding: 100px;

    }

    .contenedorPrincipal{
              font-family: var(--textContent);

    }

    .contenedorPrincipal h1{

        font-family: var(--textTitle);
        font-size: 40px;
        color: var(--colorEnfasis3);
    }

    .contenedorImagenes{
        border: 3px solid var(--colorEnfasis3);
        margin-top: 50px;
        border-radius: 50px;
        /*overflow que pasa con el contenido que sobresale*/
        overflow: hidden;
        display: grid;
        grid-template-rows: 1fr 1 f;
        grid-template-columns: repeat(4, 1fr);
        
        
    }

    .contenedorImagenes{
        width: 100%;
        height: 100%;

    }
    .imagenes{
        display: grid;
    }

    .img 1{

      grid-row:1/3;
      grid-column:4/5;

    }
    .img2{
        
        grid-row: 1/2;
        grid-column:2/4 ;
    }

    .img3{
        border: solid blue;
        grid-row: 1/3;
        grid-column:1/2;
    }

    .img4{
        border: solid blue;
        grid-row: 2/3;
        grid-column:3/4;
    }

    

    footer{
        border: solid blue;
        height: 100px;
        background-color: var(--colorEnfasis3);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        padding-top: 50px;
    }